In [1]:
#Import Dependencies
import pandas as pd
from sqlalchemy import create_engine

## Export Json Files - Json_Award Clean Up

In [4]:
#Import Json File for Json_Awards and Clean up/Normalize Data 
import json
json_file = "Resources/json_award.json"
with open(json_file, 'r') as f:
    data = json.loads(f.read())
df =  pd.json_normalize(data)
df["laureates"] = df["laureates"].str[0]
df["laureates"].apply(pd.Series)
#Note id, award year, prize amount, prize amount adjusted, category, are all important categories in this dataset.  
#I think we should likely focus on these and drop "known name" since that's what were using to join from our other table
df = pd.concat([df.drop(["laureates"],axis=1),df["laureates"].apply(pd.Series)],axis=1)
df.head()

,awardYear,prizeAmount,prizeAmountAdjusted,category.en,category.no,category.se,categoryFullName.en,categoryFullName.no,categoryFullName.se,links.rel,...,topMotivation.en,topMotivation.se,0,id,knownName,links,motivation,orgName,portion,sortOrder
0,1901,150782,8567159,Chemistry,Kjemi,Kemi,The Nobel Prize in Chemistry,Nobelprisen i kjemi,Nobelpriset i kemi,nobelPrize,...,NaN,NaN,NaN,160,{'en': 'Jacobus H. van 't Hoff'},"{'rel': 'laureate', 'href': 'http://masterdata...",{'en': 'in recognition of the extraordinary se...,NaN,1,1
1,1901,150782,8567159,Literature,Litteratur,Litteratur,The Nobel Prize in Literature,Nobelprisen i litteratur,Nobelpriset i litteratur,nobelPrize,...,NaN,NaN,NaN,569,{'en': 'Sully Prudhomme'},"{'rel': 'laureate', 'href': 'http://masterdata...",{'en': 'in special recognition of his poetic c...,NaN,1,1
2,1901,150782,8567159,Peace,Fred,Fred,The Nobel Peace Prize,Nobels fredspris,Nobels fredspris,nobelPrize,...,NaN,NaN,NaN,462,{'en': 'Henry Dunant'},"{'rel': 'laureate', 'href': 'http://masterdata...",{'en': 'for his humanitarian efforts to help w...,NaN,1/2,1
3,1901,150782,8567159,Physics,Fysikk,Fysik,The Nobel Prize in Physics,Nobelprisen i fysikk,Nobelpriset i fysik,nobelPrize,...,NaN,NaN,NaN,1,{'en': 'Wilhelm Conrad Röntgen'},"{'rel': 'laureate', 'href': 'http://masterdata...",{'en': 'in recognition of the extraordinary se...,NaN,1,1
4,1901,150782,8567159,Physiology or Medicine,Fysiologi eller medisin,Fysiologi eller medicin,The Nobel Prize in Physiology or Medicine,Nobelprisen i fysiologi eller medisin,Nobelpriset i fysiologi eller medicin,nobelPrize,...,NaN,NaN,NaN,293,{'en': 'Emil von Behring'},"{'rel': 'laureate', 'href': 'http://masterdata...","{'en': 'for his work on serum therapy, especia...",NaN,1,1

## Export Json_Laureates

In [8]:
json_file = "Resources/json_laureates.json"
df = pd.read_json(json_file)
df.head()
#This is tricky, trying to take columns relevant to the Laureate's name but running into same isssue with above.
#normalizing the data brings out a table similar to above.  
# df1 = df[['id','knownName','gender','birth','orgName','founded']]
# df1 
# Want to just normalize the data above ^ without the additional columns

,id,knownName,givenName,familyName,fullName,gender,birth,links,nobelPrizes,death,orgName,nativeName,acronym,founded,penName
0,745,"{'en': 'A. Michael Spence', 'se': 'A. Michael ...","{'en': 'A. Michael', 'se': 'A. Michael'}","{'en': 'Spence', 'se': 'Spence'}","{'en': 'A. Michael Spence', 'se': 'A. Michael ...",male,"{'date': '1943-00-00', 'place': {'city': {'en'...","{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2001', 'category': {'en': 'Eco...",NaN,NaN,NaN,NaN,NaN,NaN
1,102,"{'en': 'Aage N. Bohr', 'se': 'Aage N. Bohr'}","{'en': 'Aage N.', 'se': 'Aage N.'}","{'en': 'Bohr', 'se': 'Bohr'}","{'en': 'Aage Niels Bohr', 'se': 'Aage Niels Bo...",male,"{'date': '1922-06-19', 'place': {'city': {'en'...","{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '1975', 'category': {'en': 'Phy...","{'date': '2009-09-08', 'place': {'city': {'en'...",NaN,NaN,NaN,NaN,NaN
2,779,"{'en': 'Aaron Ciechanover', 'se': 'Aaron Ciech...","{'en': 'Aaron', 'se': 'Aaron'}","{'en': 'Ciechanover', 'se': 'Ciechanover'}","{'en': 'Aaron Ciechanover', 'se': 'Aaron Ciech...",male,"{'date': '1947-10-01', 'place': {'city': {'en'...","{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2004', 'category': {'en': 'Che...",NaN,NaN,NaN,NaN,NaN,NaN
3,259,"{'en': 'Aaron Klug', 'se': 'Aaron Klug'}","{'en': 'Aaron', 'se': 'Aaron'}","{'en': 'Klug', 'se': 'Klug'}","{'en': 'Aaron Klug', 'se': 'Aaron Klug'}",male,"{'date': '1926-08-11', 'place': {'city': {'en'...","{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '1982', 'category': {'en': 'Che...","{'date': '2018-11-20', 'place': {'locationStri...",NaN,NaN,NaN,NaN,NaN
4,114,"{'en': 'Abdus Salam', 'se': 'Abdus Salam'}","{'en': 'Abdus', 'se': 'Abdus'}","{'en': 'Salam', 'se': 'Salam'}","{'en': 'Abdus Salam', 'se': 'Abdus Salam'}",male,"{'date': '1926-01-29', 'place': {'city': {'en'...","{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '1979', 'category': {'en': 'Phy...","{'date': '1996-11-21', 'place': {'city': {'en'...",NaN,NaN,NaN,NaN,NaN

## Make Columns relevant to SQL Tables - Translate